:root{

}

#body{
    background-image: url(pedras\ e\ areia.jpeg);
    color: var(gray);

}

html{
    scroll-behavior: smooth;
}

header{
    margin: 2% 5%;
}

body{
    font-family: 'Montserrat';
    margin: 3%;
}


footer{


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 5% 0;
    margin-top: 5%;
}

/*Início cabeçalho*/
.logo{
   
    gap: 30px;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    background-color: bisque;
}

.nome{
    font-style: italic;
    font-family: Brush Script MT;
    font-size: 30rem;
    justify-content: right;
    margin-left: 30rem;
    
}

.LogoLucioPradoCimentos{
    display: flex;
    align-items: start;
    justify-content: left;
    width:10%;
    height: 10%;
    position: relative;
 }

 #menu {
    background-color: bisque;
}

#menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#menu ul li {
    margin: 0 15px;
}

#menu ul li a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background 0.3s;
    font-size: 3rem;
    font-weight: bolder;
}

#menu ul li a:hover {
    background-color: #555;
}


.materialConstrução{
    float: left;


}

.h2{
    color: black;
    float: left;
    font-weight: bolder;
    font-size: 500%;
    margin-left: 5%;
    margin-right: 5%;
}


.container{
    background-color: bisque;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
  
}

.terraplenagem{
    float: left;

}


.poço{
    float: left;

}



.imagem{
    width: 1500px; /* Largura fixa */
    height: 1500px; /* Altura fixa */

}

.contatos{
    font-size: 2.5rem;
    color: black;
}

.rodape{
    background-color: bisque;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
 


}

/*Início Responsividade*/

/*Início 1440px*/
@media screen and (max-width: 1440px){
    /*Início Cabeçalho - 1440px*/
    .logo{
        width: none;
        height: none;
        margin: none;
        justify-content: center;

    }

    .menu{
        font-size: 5rem;
        background-color: bisque;
        width: none;
        height: none;
        margin: none;
        justify-content: center;
        margin-bottom: 0.5%;

    }

    .imagem{
        width: 500px; /* Largura fixa */
        height: 500px; /* Altura fixa */
    }

    .h2{
        font-size: 100%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .nome{
        font-size: 5rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

   

 /*Fim 1440px*/

/*Inicio 1024px*/
@media screen and (max-width: 1024px){
    /*Início Titulo 1024px*/
    .nome{
        font-size: 5rem;
        margin-left: 5rem;
        margin-right: 5rem;
        white-space: nowrap;
        background-color: bisque;
    }

    .logo{
        width: 100%;
        height: 20%;
   

    }

    #menu ul li a {
        flex-direction: column;
        font-size: 10px;
        background-color: bisque;
        width: 100%;
        height: 0.5%;
        margin: 0.5%;
        justify-content: center;
        margin-bottom: 0.5%;
    }

    .imagem{
        width: 400px; /* Largura fixa */
        height: 400px; /* Altura fixa */
    }

    .h2{
        font-size: 100%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    /*Fim  1024px*/


@media screen and (max-width: 767px){
/*Inicio 414x896px*/

#body{
    background-image: url(pedras\ e\ areia.jpeg);

}

    .nome{
        font-size: 40px;
        margin-left: none;
        margin-right: none;
        justify-content: center;
        background-color: bisque;
        white-space: nowrap;
    }

    .logo{
        width: 100%;
        height: 20%;
    
        justify-content: center;
        background-color: bisque;
     
   

    }


    #menu ul li a {
        flex-direction: column;
        font-size: 10px;
        background-color: bisque;
        width: 100%;
        height: 0.5%;
        margin: 0.5%;
        justify-content: center;
        margin-bottom: 0.5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .imagem{
        width: 100px; /* Largura fixa */
        height: 100px; /* Altura fixa */
    }

    .h2{
        font-size: 100%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

  
/*Fim 414x896px*/
